@model IEnumerable<calismaOrm.Models.Urunler>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Ürün Listesi</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Urunler" asp-action="Crup" 
            class="btn btn-primary">
                <span>Yeni Ürün Ekle</span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>Ürün Resmi</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var urun in Model)
                {
                    <tr>
   <td><img src="@urun.Resim" width="80px" /></td>
  <td>@urun.UrunAdi</td>
 <td>@urun.Fiyat</td>
  <td>
  <a asp-controller="Urunler" asp-action="Crup" 
  asp-route-id="@urun.Id" class="btn btn-primary">
           Güncelle
      </a>
       <a asp-controller="Urunler" asp-action="Delete" 
       asp-route-id="@urun.Id" class="btn btn-danger">
             Sil
          </a>

    </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

